.cache
.ninja_log
build.bat
build.ninja
compile_commands.json
dump.txt
economy.o
libclang.libclang
economy/graph.txt
result.txt
image.txt
test3/image.txt
image.svg
image-eco-location.svg
.vscode*
a.ilk
a.pdb
a.exe
b.ilk
b.pdb
b.exe
code.txt
code2.txt
code3.txt
.code.txt.swp
image-eco.svg
image-eco-2.svg
test4-image*
test4-utf8.txt
test4.txt
test4-main.txt
test4-location.txt
